<div class="Title">
    <h1 class="text-center p-3">About ESP8266</h1>
    <hr>
</div>
<div class = "container"> 
    <div class = "row">
        <div class = "col-md-6 text-center"> 
            <br>
            <h1>What is an Esp8266?</h1>
            <hr>
            <br>
            <p>The ESP8266 can be controlled from your local Wi-Fi network or from the internet. The ESP-01 module has GPIO pins that can be programmed to turn an LED or a relay ON/OFF through the internet. The module can be programmed using an Arduino/USB-to-TTL converter through the serial pins (RX,TX).</p>
            <img class="rounded" src="assets/ESP8266.jpg" width="419" height="269"/>

        </div>
        <div class = "col-md-6 text-center"> 
            <br>
            <h1> How did we use the Esp8266?</h1>
            <hr>
            <br>
            <p>Devon and Mat did extensive research on the Esp8266. Devon mastered the wiring portion; he was able to wire the esp8266 to a light. Mat helped with the coding of a button to connect with the Esp8266 and send a signal through the internet to tell the light bulb to turn on/off.</p>
            <img class="rounded mb-4" src="assets/ON.jpg"/>
        </div>
    </div>
</div>