<div class="Title">
  <h1 class="text-center p-3">About Us</h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1>Who are We</h1>
      <p>We are students from Banting's Robotics team. Everyone specializes in something different.</p>
    </div>
    <div class="col-md-6 text-center">
      <h1>The Team</h1>
      <hr>
      <p>The members of our team are posted below:</p>
      <br>
      <p>Mr. Haas - Teacher & Project Lead</p>
      <p>Kyle Tomchuk - CAD Specialist</p>
      <p>Devon Haas - Hardware Engineer</p>
      <p>Zain Arif - Hardware Engineer</p>
      <p>Mason Chopik - Web Developer</p>
      <p>Mathew Borg - Developer</p>
      <p>Kaden Scott - Developer</p>
      <p>David Long - Developer</p>
    </div>
  </div>
</div>