.title {
    text-align: center;
}
.row {
    padding: 40px;
    border: 1px solid #dedede;
}
.card {
    padding: 40px;    
}

.black {
    background-color: black;
}

.green {
    background-color: chartreuse;
}