<div class="jumbotron">
    <h1 class="display-4">Grade 12 Robotics Site</h1>
    <p class="lead">Turn off and on the lights at Mathew Borgs or Mr. Hass's house using a ESP8266</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/esp8266" role="button">ESP Portal</a>
    </p>
  </div>

<div class = "container"> 
    <div class = "row">
        <div class = "col-md-4"> 
            <br>
            <header>The Task</header>
            <hr>
            <br>
            <p>The task was simple, create a webpage. Maybe it wasnt so simple, but here I am anyways trying to understand how any of this works. last time I wrote html was in a notepad doccument what is any of this anyways</p>
        </div>
        <div class = "col-md-4"> 
            <br>
            <header>The Goal</header>
            <hr>
            <br>
            <p>The Goal was to continue our learning over the internet, due to the covid-19 outbreak our learning was stalled and we shifted our focus to web design from our previously robot-focused curriculum.</p>
        </div>
        <div class = "col-md-4"> 
            <br>
            <header>The People</header>
            <hr>
            <br>
            <p>This project was the amalgamation of 7 people with entirely different skillsets and backgrounds coming together to make one cohesive system. I know what your thinking, and your right! Its worked kind of alright I guess?</p>
        </div>
    </div>
</div>