
<div class = "container" > 
    <div class = "row">  
        <div class = "col-md-4"> 
            <br>
            <h4>The Task</h4>
            <p>The task was simple, create a webpage. Maybe it wasnt so simple, but here I am trying to understand how any of it works. Last time I wrote HTML, it was in a notepad doccument, and now we're using full website development software.</p>
        </div>
        <div class = "col-md-4"> 
            <br>
            <h4>The Goal</h4>
            <p>The goal was to continue our learning over the Internet. Due to the COVID-19 outbreak, our learning was stalled and we shifted our focus to web design from our previously robot-focused curriculum.</p>
        </div>
        <div class = "col-md-4"> 
            <br>
            <h4>The People</h4>
            <p>This project was the result of the combined effort of 7 people with entirely different skillsets and backgrounds. I know what you're thinking, and you're right! We think it's worked out pretty well 😄</p>
        </div>
    </div>
</div>