<title>Classroom Robotics</title>
<div class = "container" > 
    <div class = "row">  
        <div class = "col-md-4"> 
            <br>
            <header>The Task</header>
            <br>
            <p>The task was simple, create a webpage. Maybe it wasnt so simple, but here I am anyways trying to understand how any of this works. last time I wrote html was in a notepad doccument what is any of this anyways</p>
        </div>
        <div class = "col-md-4"> 
            <br>
            <header>The Goal</header>
            <br>
            <p>The Goal was to continue our learning over the internet, due to the covid-19 outbreak our learning was stalled and we shifted our focus to web design from our previously robot-focused curriculum.</p>
        </div>
        <div class = "col-md-4"> 
            <br>
            <header>The People</header>
            <br>
            <p>This project was the amalgamation of 7 people with entirely different skillsets and backgrounds coming together to make one cohesive system. I know what your thinking, and your right! Its worked kind of alright I guess?</p>
        </div>
    </div>
</div>

<style>
    .transparent {
    background: rgba(20, 20, 20, 0.5) !important;
    }
    .aligncenter {
            text-align: center;
        }
  </style>